<div>
  <hr>
  <div style="float: right; margin-right: 50px">
    <button (click)="deleteEvent()">X</button>
    <button>E</button>
  </div>
  <h3>Ein Event</h3>
  <p>ein wert vom Backend: {{orgEvent?.id || ''}}</p>
  <div style="display: flex">
    <button (click)="annmelden()">Teilnehmen</button>
    <button (click)="signout()">Abmelden</button>
  </div>
  <br><br>
  <p>[SocketChat] {{socketValue}}</p>
  <div style="display: flex">
    <button (click)="watchSocket()">Connect to Chat</button>
    <button (click)="unWatchSocjet()">Disconnect from Chat</button>
  </div>
  <input #socketInput>
  <button (click)="pushMessageToBackend(socketInput.value)">Push</button>
  <hr>
</div>
