<div class="register">
  <h2>Registrierung für neuen User</h2>
  <form>
    <label for="email">Email Adresse: </label>
    <input type="email" id="email" required><br>
    <label for="username">Benutzername: </label>
    <input type="text" id="username" required><br>
    <label for="firstName">Vorname: </label>
    <input type="text" id="firstName" required><br>
    <label for="lastName">Nachname: </label>
    <input type="text" id="lastName" required><br>
    <label for="orgID">Organisations-ID: </label>
    <input type="text" id="orgID" required><br>
    <input type="submit">
  </form>
</div>
