<div class="flex justify-center mt-[10%]">
  <div>
    <ng-container *ngIf="withNewUser">
      <ng-container *ngIf="withOrganizationId">
        <h2>Registrierung für neue User mit Einladungslink</h2>
        <p>zur Organisation: {{organization}}.decode</p>
        <p>EinladungsId: {{inviteId}}</p>
        <br>
      </ng-container>
      <ng-container *ngIf="!withOrganizationId">
        <h2>Registrierung für neue User</h2>
      </ng-container>
      <form name="form" style="display: flex; flex-direction: column">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput [disabled]="withOrganizationId" name="email" [(ngModel)]="form.email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Vorname</mat-label>
          <input matInput name="firstname" [(ngModel)]="form.firstname">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nachname</mat-label>
          <input matInput name="lastname" [(ngModel)]="form.lastname">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Passwort</mat-label>
          <input matInput name="password" type="password" [(ngModel)]="form.password">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Passwort wiederholen</mat-label>
          <input matInput type="password">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Absenden</button>
      </form>
    </ng-container>
    <ng-container *ngIf="!withNewUser">
      <p>Du wurdest zum Beitritt in eingeladen</p>
      <button>Ja</button>
      <button>Nein</button>
    </ng-container>
  </div>
</div>
