<div class="mx-3">
  <br>
  <div *ngIf="hasRole(1) || hasRole(2)">
    <h2>Mitglied einladen</h2>
    <form>
      <mat-form-field class="example-full-width m-2 w-1/4">
        <mat-label>Email-Adresse</mat-label>
        <input type="text" matInput [formControl]="eventInviteControl" [matAutocomplete]="auto"
               [(ngModel)]="invitedEmail"
               placeholder="muster@mail.de" (click)="loadOptions()">
        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="displayMemberEmail">
          <mat-option *ngFor="let filteredMember of filteredUsersForEventInvite | async" [value]="filteredMember">
            {{filteredMember.email}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="fill" class="m-2 w-36">
        <mat-label>Rolle</mat-label>
        <mat-select [(value)]="selectedRoleForInvite">
          <mat-option [value]="12">Teilnehmer</mat-option>
          <mat-option [value]="11">Tutor</mat-option>
          <mat-option [value]="10">Organisator</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="ml-1 mb-4" mat-raised-button color="primary" (click)="inviteSubmit()" [disabled]="inviteLoading">
        <mat-icon>person_add</mat-icon>
        Einladen
      </button>
    </form>
  </div>
  <h2>Teilnehmer-Übersicht</h2>
  <mat-card>
    <mat-card-content class="overflow-y-auto max-h-[60vh]">
      <div class="hidden md:grid md:grid-cols-4 font-bold">
        <span class="p-2 pt-3">Nachname, Vorname</span>
        <span class="p-2 pt-3">E-Mail</span>
        <span class="p-2 pt-3">Rolle</span>
        <span class="p-2 pt-3"></span>
      </div>
      <ng-container *ngFor="let attender of attendee">
        <mat-divider></mat-divider>
        <div class="grid grid-cols-1 md:grid-cols-4">
          <div class="p-2 pt-3">{{attender.nachname}}, {{attender.vorname}}</div>
          <div class="p-2 pt-3">{{attender.email}}</div>
          <div class="p-2 pt-3" *ngIf="!editMode || editedUser != attender.id">{{attender.role.role}}</div>
          <div *ngIf="editMode && editedUser == attender.id && (hasRole(2) || hasRole(1))" class="p-2 pt-3">
            <mat-form-field appearance="fill">
              <mat-label>Rolle bearbeiten</mat-label>
              <mat-select [required]="true" [(value)]="selectedRoleForChange">
                <mat-option [value]=12>Teilnehmer</mat-option>
                <mat-option [value]=11>Tutor</mat-option>
                <mat-option [value]=10 *ngIf="hasRole(2) || hasRole(1)">Organisator</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="hasRole(1) || hasRole(2)" class="justify-self-end flex">
            <div *ngIf="this.editMode && this.editedUser == attender.id">
              <button mat-icon-button color="primary"
                      (click)="this.saveAttenderRole(orgaID, attender.id, selectedRoleForChange)">
                <mat-icon>save</mat-icon>
              </button>
            </div>
            <div *ngIf="!(this.editedUser == attender.id)">
              <button mat-icon-button color="primary" (click)="this.enableEdit(attender.id)" [disabled]="editMode">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <button mat-icon-button color="warn" [disabled]="editMode" (click)="deleteAttender(attender.email)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
      <mat-divider></mat-divider>
    </mat-card-content>
  </mat-card>
</div>
