<div class="mat-typography">
  <br>
  <div class="block lg:flex gap-4">

    <div class="ml-10 mb-10">
      <h1 class="ml-10">Deine Organisationen</h1>
      <div class="flex gap-4 flex-wrap gap-y-4">
        <div class="mb-6" *ngFor="let organization of organizations">
          <app-organizationitem
            [id]="organization.id"
            [description]="organization.description"
            [name]="organization.name">
          </app-organizationitem>
          <br>
        </div>
      </div>
    </div>

    <div class="flex-grow"></div>

    <div class="mr-10 ml-10 shrink-0">
      <h1>Event-Radar</h1>

        <ng-container *ngFor="let event of currentEvents">
          <app-eventradar-item
            [name]="event.name"
            [location]="event.location"
            [id]="event.id"
            [organizationId]="event.organizationId"
            [organizationName]="event.organizationName"
            [startTime]="event.childs.at(0)?.eventStart || ''"
            [endTime]="event.childs.at(0)?.eventEnd || ''"
            [serial]="event.serial"
            [organisator]="event.organisator"
            [tutor]="event.tutor"
            [attender]="event.attender">
          </app-eventradar-item>
          <br>
        </ng-container>
      </div>

  </div>
</div>




