<br>

<div class="flex sm:flex-row flex-col gap-4 md:ml-4">
  <div class="w-full sm:w-1/2">
    <div class="max-sm:ml-3"><h1>Deine Organisationen</h1></div>
    <div class="overflow-x-hidden overflow-y-auto max-h-[40vh] sm:max-h-screen">
      <div class="grid lg:grid-cols-4 grid-cols-2 gap-4 justify-start justify-items-center">
        <div *ngFor="let organization of organizations">
          <app-organizationitem
            [id]="organization.id"
            [description]="organization.description"
            [name]="organization.name">
          </app-organizationitem>
          <br>
        </div>
      </div>
    </div>

  </div>
  <div class="w-full sm:w-1/2">
    <div class="max-sm:ml-3"><h1>Event-Radar</h1></div>
    <div class="overflow-y-auto max-h-[40vh] lg:max-h-screen">
      <div *ngFor="let event of currentEvents" class="mx-4 sm:ml-0 mb-4">
        <app-eventradar-item
          [name]="event.name"
          [location]="event.location"
          [id]="event.childId"
          [organization]="this.getOrganizationNameById(event.organizationId)"
          [startTime]="event.eventStart"
          [endTime]="event.eventEnd">
          <!-- //TODO -->
        </app-eventradar-item>
        <br>
      </div>
    </div>
  </div>
</div>




