<div class="max-w-full overflow-x-hidden">
  <mat-toolbar color="primary">
  <span style="display: flex; align-items: center; justify-content: center; flex-grow: 1">
    <mat-icon routerLink="/dashboard" class="cursor-pointer">home</mat-icon>
    <h1 style="margin: 0px 0px 0px 10px;">Event Horizon</h1>
    <span class="mx-3 pt-2.5"><button *ngIf="isLoggedInPlatformAdmin()"><mat-icon routerLink="/platform-settings" class="cursor-pointer">settings</mat-icon></button></span>
    <span style="flex-grow: 4"></span>
    <span class="text-neutral-400 text-xs mr-3 cursor-pointer" routerLink="/impressum">Impressum</span>
    <div *ngIf="!foundSession()">
      <button mat-raised-button aria-label="Login" routerLink="/login">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </div>
    <div *ngIf="foundSession()" class="max-sm:max-w-[30px] max-sm:overflow-x-hidden max-sm:overflow-y-hidden">
      <button [matMenuTriggerFor]="menu" mat-button>
        {{ getUserEmail() }}
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="after">
        <button (click)="abmelden()" mat-menu-item>
          <mat-icon>logout</mat-icon>
          Abmelden
        </button>
        <button (click)="switchTheme()" mat-menu-item>
          Aussehen ändern
          <mat-icon>colorize</mat-icon>
        </button>
      </mat-menu>
    </div>
  </span>
  </mat-toolbar>
</div>
