<nav mat-tab-nav-bar [tabPanel]="tabPanel" xmlns="http://www.w3.org/1999/html">
  <div>
    <a mat-tab-link
       [routerLink]="'/organizations/' + currentOrganization" [queryParams]="{view: 'events'}"><mat-icon>arrow_back</mat-icon> Zurück</a>
  </div>
  <div>
    <a mat-tab-link
       [active]="currentParam == descriptionViewParam"
       (click)="updateURLWithParam(descriptionViewParam)">Beschreibung</a>
  </div>
  <div *ngIf="this.currentRoleAndStatus.status.id >= 2 && this.currentRoleAndStatus.status.id <= 4">
    <a mat-tab-link
       [active]="currentParam == chatViewParam"
       (click)="updateURLWithParam(chatViewParam)">Chat</a>
  </div>
  <div *ngIf="(hasRole(1) || hasRole(2)) && this.currentRoleAndStatus.status.id < 2 && this.currentRoleAndStatus.status.id > 4">
    <a mat-tab-link matTooltip="Chat nur für gestartete Events verfügbar" disabled>Chat</a>
  </div>
  <div>
    <a mat-tab-link
       [active]="currentParam == surveyViewParam"
       (click)="updateURLWithParam(surveyViewParam)">Umfragen</a>
  </div>
  <div>
    <a mat-tab-link
       [active]="currentParam == filesViewParam"
       (click)="updateURLWithParam(filesViewParam)">Dateien</a>
  </div>
  <div *ngIf="!hasRole(5)">
    <a mat-tab-link
       [active]="currentParam == attenderViewParam"
    (click)="updateURLWithParam(attenderViewParam)">Teilnehmer</a>
  </div>
  <div *ngIf="hasRole(1) || hasRole(2)">
    <a mat-tab-link
       *ngIf="hasRole(1) || currentRoleAndStatus.role.id != 12"
       [active]="currentParam == invitesViewParam"
       (click)="updateURLWithParam(invitesViewParam)">Einladungen</a>
  </div>
  <div *ngIf="hasRole(1) || hasRole(2)">
    <a mat-tab-link
       *ngIf="currentRoleAndStatus.role.id == 10"
       [active]="currentParam == mailsViewParam"
       (click)="updateURLWithParam(mailsViewParam)">Mailversand</a>
  </div>
  <div *ngIf="(hasRole(1) || hasRole(2) || currentRoleAndStatus.role.id == 11) && (this.currentRoleAndStatus.status.id >= 3 && this.currentRoleAndStatus.status.id <= 4)">
    <a mat-tab-link
       *ngIf="currentRoleAndStatus.role.id != 12"
       [active]="currentParam == attendanceViewParam"
       (click)="updateURLWithParam(attendanceViewParam)">Anwesenheit</a>
  </div>
  <div *ngIf="(hasRole(1) || hasRole(2) || currentRoleAndStatus.role.id == 11) && !(this.currentRoleAndStatus.status.id >= 3 && this.currentRoleAndStatus.status.id <= 4)">
    <a mat-tab-link matTooltip="Anwesenheitsliste nur für gestartete Events verfügbar" disabled>Anwesenheit</a>
  </div>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
<ng-container *ngIf="currentParam == descriptionViewParam" class="mx-3">
  <app-event-description-view [orgaID]="currentOrganization" [eventID]="currentEvent" [roleIdInEvent]="currentRoleAndStatus.role.id">
  </app-event-description-view>
</ng-container>
<ng-container *ngIf="currentParam == attenderViewParam" class="mx-3">
  <app-event-attender-view [orgaID]="currentOrganization" [eventID]="currentEvent" [roleIdInEvent]="currentRoleAndStatus.role.id">
  </app-event-attender-view>
</ng-container>
<ng-container *ngIf="currentParam == surveyViewParam" class="mx3">
  <app-event-survey [orgaID]="currentOrganization" [eventID]="currentEvent" [roleIdInEvent]="currentRoleAndStatus.role.id">
  </app-event-survey>
</ng-container>
<ng-container *ngIf="currentParam == chatViewParam" class="mx-3">
  <app-event-chat-view [orgaID]="currentOrganization" [eventID]="currentEvent" [roleIdInEvent]="currentRoleAndStatus.role.id">
  </app-event-chat-view>
</ng-container>
<ng-container *ngIf="currentParam == filesViewParam" class="mx-3">
  <app-event-files-view [orgaID]="currentOrganization" [eventID]="currentEvent" [roleIdInEvent]="currentRoleAndStatus.role.id">
  </app-event-files-view>
</ng-container>
<ng-container *ngIf="currentParam == invitesViewParam && currentRoleAndStatus.role.id != 99" class="mx-3">
  <app-event-invites-view [orgaID]="currentOrganization" [eventID]="currentEvent" [roleIdInEvent]="currentRoleAndStatus.role.id">
  </app-event-invites-view>
</ng-container>
<ng-container *ngIf="currentParam == mailsViewParam && currentRoleAndStatus.role.id != 99" class="mx-3">
  <app-event-mailsettings-view [orgaID]="currentOrganization" [eventID]="currentEvent" [roleIdInEvent]="currentRoleAndStatus.role.id">
  </app-event-mailsettings-view>
</ng-container>
<ng-container *ngIf="currentParam == attendanceViewParam" class="mx-3">
  <app-event-attendance-list-view [orgaID]="currentOrganization" [eventID]="currentEvent" [roleIdInEvent]="currentRoleAndStatus.role.id" [eventStatus]="currentRoleAndStatus.status.id">
  </app-event-attendance-list-view>
</ng-container>

