<br>
<h2>Mitglieder-Übersicht</h2>
<mat-form-field class="example-full-width">
  <mat-label>Email-Adresse</mat-label>
  <input [(ngModel)]="invitedEmail" matInput placeholder="eineemail@mail.de">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Rolle</mat-label>
  <mat-select [(value)]="selected">
    <mat-option value="organizer" disabled>Admin</mat-option>
    <mat-option value="organisator">Organisator</mat-option>
    <mat-option value="tutor">Tutor</mat-option>
    <mat-option value="teilnehmer">Mitglied</mat-option>
    <mat-option value="gast">Gast</mat-option>
  </mat-select>
</mat-form-field>
<button style="margin-left: 5px" mat-raised-button color="primary" (click)="inviteSubmit()">User einladen</button>
<mat-card>
  <mat-card-content>
    <ng-container *ngFor="let member of members">
      <mat-divider></mat-divider>
      <div style="display: flex; padding: 5px; align-items: center">
        <p style="margin: 0; flex-grow: 1; max-width: 35%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap">id: {{member.userId}}</p>
        <p style="margin: 0; flex-grow: 1; max-width: 35%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap">Email: {{member.userId}}</p>
        <p style="margin: 0; flex-grow: 1; max-width: 20%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap">Rolle: {{member.role.role}}</p>
        <section>
          <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </section>
      </div>
    </ng-container>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>
