<p>TAB:: organizationmemberview works!</p>
<p>Member View für Organization {{orgaID}}</p>
<ng-container *ngFor="let member of members">
  <div>
    <hr>
    <h3>Ein Member</h3>
    <p>id: {{member.userId}} role: {{member.role.role}}</p>
    <hr>
  </div>
</ng-container>
<br><br><hr>
<mat-form-field class="example-full-width">
  <mat-label>Email-Adresse</mat-label>
  <input [(ngModel)]="invitedEmail" matInput placeholder="eineemail@mail.de">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Rolle</mat-label>
  <mat-select [(value)]="selected">
    <mat-option value="organizer" disabled>Admin</mat-option>
    <mat-option value="organisator">Organisator</mat-option>
    <mat-option value="tutor">Tutor</mat-option>
    <mat-option value="teilnehmer">Mitglied</mat-option>
    <mat-option value="gast">Gast</mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="inviteSubmit()">Invite User</button>
<br><br>
<p>{{invitedUser}}</p>
