<br>
<ng-container *ngIf="orgEvent">
  <mat-card class="h-48 ml-2">
    <div class="absolute" style="margin-top: -10px; margin-left: -10px">
      <mat-icon matTooltip="Einzelevent" *ngIf="!orgEvent.serial">event</mat-icon>
      <mat-icon matTooltip="Serienevent" *ngIf="orgEvent.serial">event_repeat</mat-icon>
    </div>
    <mat-card-content class="mt-4">
      <div class="flex">
        <div class="shrink-0">
          <img class="sm:w-40 sm:h-40 h-20 w-20" [src]="shownimage">
        </div>
        <div class="flex-col shrink truncate">
          <div class="ml-2 sm:ml-8 mb-4">
            <mat-card-title class="grow truncate">{{orgEvent.name}}</mat-card-title>
          </div>
          <div class="ml-2 sm:ml-8 shrink-0 flex">
            <div>
              <mat-card-subtitle>
                <label><strong>Ort</strong></label>
                <p>{{orgEvent.location}}</p>
              </mat-card-subtitle>
              <mat-card-subtitle class="whitespace-nowrap">
                <label><strong>Datum</strong></label>
                <p>{{orgEvent.childs[0].eventStart | date:'dd.MM.yyyy, HH:mm'}}</p>
              </mat-card-subtitle>
            </div>
            <br>
            <div class="hidden lg:flex shrink pl-8 pr-8">
              <mat-card-subtitle>
                <label><strong>Beschreibung</strong></label>
                <p class="overflow-ellipsis">{{orgEvent.description}}</p>
              </mat-card-subtitle>
              <mat-card-subtitle class="whitespace-nowrap pl-4">
                <label><strong>Status</strong></label>
                <p>{{orgEvent.eventStatus.status}}</p>
              </mat-card-subtitle>
            </div>
          </div>
        </div>
        <div class="flex flex-col ml-auto justify-between justify-end">
          <div class="flex ml-auto">
            <!-- siehe https://fonts.google.com/icons?hl=de -->
            <mat-icon matTooltip="Sie sind Tutor" *ngIf="orgEvent.tutor">mic</mat-icon>
            <mat-icon matTooltip="Sie sind Organisator" *ngIf="orgEvent.organisator">star</mat-icon>
            <mat-icon matTooltip="Sie sind Teilnehmer" *ngIf="orgEvent.attender">man</mat-icon>
          </div>
          <div class="flex flex-grow"></div>
          <div>
            <div class="flex flex-col sm:flex-row">
              <button *ngIf="!orgEvent.organisator && !orgEvent.tutor && !orgEvent.attender && orgEvent.eventStatus.id == 2" mat-raised-button color="primary" (click)="book()">Teilnehmen</button>
              <button *ngIf="!orgEvent.organisator && !orgEvent.tutor && orgEvent.attender && orgEvent.eventStatus.id == 2" mat-raised-button color="primary" (click)="signOff()">Abmelden</button>
              <button class="ml-4" (click)="routeToEventDetails()" mat-raised-button>Details</button>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
