<br>
<h2>Einladungs-Übersicht</h2>

<mat-card>
  <mat-card-content class="overflow-y-auto max-h-[60vh]">
    <ng-container *ngFor="let invitedUser of invitedUsers">
      <mat-divider></mat-divider>
      <div class="grid grid-cols-1 md:grid-cols-3">
        <div class="p-2 pt-3 ">E-Mail: {{invitedUser.email}}</div>
        <div *ngIf="!editMode || editedUser!=invitedUser.id" class="p-2 pt-3 ">Rolle: {{invitedUser.role.role}}</div>
        <div *ngIf="editMode && editedUser==invitedUser.id" class="p-2 pt-3 ">Rolle: DROPDOWN</div>
        <div class="justify-self-end flex">
          <div *ngIf="this.editMode && this.editedUser==invitedUser.id"><button mat-icon-button color="primary" (click)="this.edit(invitedUser.id)"><mat-icon>save</mat-icon></button></div>
          <div *ngIf="!(this.editedUser==invitedUser.id)"><button mat-icon-button color="primary" (click)="this.edit(invitedUser.id)" [disabled]="editMode"><mat-icon>edit</mat-icon></button></div>
          <div><button mat-icon-button color="warn" (click)="deleteInvite(invitedUser.id)" [disabled]="editMode"><mat-icon>delete</mat-icon></button></div>
        </div>
      </div>
    </ng-container>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>

