<span><span class="font-bold">#ORGNAME#</span> - Platzhalter für den Namen der Organisation</span><br>
<span><span class="font-bold">#EVENTNAME#</span> - Platzhalter für den Namen des Events</span><br>
<span><span class="font-bold">#START#</span> - Platzhalter für den Startzeitpunkt des Events</span><br>
<span><span class="font-bold">#ENDE#</span> - Platzhalter für den Endzeitpunkt des Events</span><br>
<span><span class="font-bold">#ORT#</span> - Platzhalter für den Ort des Events</span><br>
<span><span class="font-bold">#TEILNEHMER#</span> - Platzhalter für den Namen des Teilnehmers, an den die Mail gesendet wird</span>
