<div class="mt-[10%] w-full h-full flex justify-center mat-typography">
  <div>
    <h2>Passwort zurücksetzen</h2>
    <form id="resetPasswordForm">
      <mat-form-field>
        <mat-label>neues Passwort*</mat-label>
        <input matInput name="password" type="password" [(ngModel)]="form.password"><br>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Passwort wiederholen*</mat-label>
        <input matInput name="repeatPassword" type="password" [(ngModel)]="form.repeatPassword"><br>
      </mat-form-field>
      <br>
      <button [@openClose]="loading ? 'open' : 'closed'" [ngClass]="loading ? 'loadingState' : ''" mat-raised-button
              color="primary" (click)="onSubmit()" type="submit" form="resetPasswordForm" formaction="">
        <mat-spinner [diameter]="20"
                     class="mat-spinner-color" *ngIf="loading"></mat-spinner>
        <section>
          Passwort zurücksetzen
        </section>
      </button>
    </form>
  </div>
</div>
