<div class="mt-[10%] w-full h-full flex justify-center">
  <div>
    <h2>Anmelden</h2>
    <form id="loginForm">
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input matInput name="email" [(ngModel)]="form.email"><br>
      </mat-form-field>
      <br>
      <mat-form-field class="w-full">
        <mat-label>Passwort</mat-label>
        <input matInput name="password" type="password" [(ngModel)]="form.password"><br>
      </mat-form-field>
      <br>
      <button mat-button class="mr-2" (click)="forgotPassword()" type="button">
        Passwort zurücksetzen
      </button>
      <button [@openClose]="loading ? 'open' : 'closed'" [ngClass]="loading ? 'loadingState' : ''" mat-raised-button
              color="primary" (click)="onSubmit()" type="submit" form="loginForm" formaction="" (keydown.enter)="onSubmit()">
        <mat-spinner [diameter]="20"
                     class="mat-spinner-color" *ngIf="loading"></mat-spinner>
        <section>
          Login
        </section>
      </button>
    </form>
  </div>
</div>
