.mat-spinner-color::ng-deep circle{
  stroke: #FFFFFF !important;
}

.mat-spinner-color {
  margin-top: 3px;
}

.loadingState ::ng-deep {
  span {
    display: flex;
  }
  section {
    padding-left: 15px;
    margin-top: 3px;
  }
}
