<div class="mx-3">
  <br>
  <div *ngIf="hasRole(1) || hasRole(2)">
    <h2>Mitglied einladen</h2>
    <mat-form-field class="example-full-width m-2 w-1/4">
      <mat-label>Email-Adresse</mat-label>
      <input [(ngModel)]="invitedEmail" matInput placeholder="muster@mail.de">
    </mat-form-field>
    <mat-form-field appearance="fill" class="m-2 w-36">
      <mat-label>Rolle</mat-label>
      <mat-select [(value)]="selected">
        <mat-option value="gast">Gast</mat-option>
        <mat-option value="teilnehmer">Teilnehmer</mat-option>
        <mat-option value="organisator" *ngIf="hasRole(2) || hasRole(1)">Organisator</mat-option>
        <mat-option value="admin" *ngIf="hasRole(2) || hasRole(1)">Admin</mat-option>
      </mat-select>
    </mat-form-field>
    <button class="ml-1 mb-4" mat-raised-button color="primary" (click)="inviteSubmit()" [disabled]="inviteLoading">
      <mat-icon>person_add</mat-icon>
      Einladen
    </button>
  </div>
  <h2>Mitglieder-Übersicht</h2>
  <mat-card>
    <mat-card-content class="overflow-y-auto max-h-[60vh]">
      <div class="hidden md:grid md:grid-cols-4 font-bold">
        <span class="p-2 pt-3">Nachname, Vorname</span>
        <span class="p-2 pt-3">E-Mail</span>
        <span class="p-2 pt-3">Rolle</span>
        <span class="p-2 pt-3"></span>
      </div>
      <ng-container *ngFor="let member of members">
        <mat-divider></mat-divider>
        <div class="grid grid-cols-1 md:grid-cols-4">
          <div class="p-2 pt-3 ">{{member.nachname}}, {{member.vorname}}</div>
          <div class="p-2 pt-3 ">{{member.email}}</div>
          <div *ngIf="!editMode || editedUser != member.id" class="p-2 pt-3 ">{{member.role.role}}</div>
          <div *ngIf="editMode && editedUser == member.id" class="p-2 pt-3">
            <mat-form-field appearance="fill">
              <mat-label>Rolle bearbeiten</mat-label>
              <mat-select [required]="true" [(value)]="selectedRole">
                <mat-option [value]=5>Gast</mat-option>
                <mat-option [value]=4>Teilnehmer</mat-option>
                <mat-option [value]=2 *ngIf="hasRole(2) || hasRole(1)">Organisator</mat-option>
                <mat-option [value]=1 *ngIf="hasRole(2) || hasRole(1)">Admin</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="hasRole(1) || hasRole(2)" class="justify-self-end flex">
            <div *ngIf="this.editMode && this.editedUser == member.id">
              <button mat-icon-button color="primary" (click)="this.saveMemberRole(orgaID, member.id, selectedRole)">
                <mat-icon>save</mat-icon>
              </button>
            </div>
            <div *ngIf="!(this.editedUser == member.id)">
              <button mat-icon-button color="primary" (click)="this.enableEdit(member.id)" [disabled]="editMode">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <button mat-icon-button color="warn" [disabled]="editMode" (click)="deleteMember(member.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
      <mat-divider></mat-divider>
    </mat-card-content>
  </mat-card>
</div>
