<br>
<h2>Mitglieder-Übersicht</h2>
<mat-form-field class="example-full-width">
  <mat-label>Email-Adresse</mat-label>
  <input [(ngModel)]="invitedEmail" matInput placeholder="eineemail@mail.de">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Rolle</mat-label>
  <mat-select [(value)]="selected">
    <mat-option value="organizer" disabled>Admin</mat-option>
    <mat-option value="organisator">Organisator</mat-option>
    <mat-option value="tutor">Tutor</mat-option>
    <mat-option value="teilnehmer">Mitglied</mat-option>
    <mat-option value="gast">Gast</mat-option>
  </mat-select>
</mat-form-field>
<button style="margin-left: 5px" mat-raised-button color="primary" (click)="inviteSubmit()">User einladen</button>
<mat-card>
  <mat-card-content class="overflow-y-auto max-h-[60vh]">
    <ng-container *ngFor="let member of members">
      <mat-divider></mat-divider>
      <div class="grid grid-cols-1 md:grid-cols-4">
        <div class="p-2 pt-3 ">{{member.userId}}</div>
        <div class="p-2 pt-3 ">{{member.role.role}}</div>
        <div class="p-2 pt-3 ">{{member.role.role}}</div>
        <div class="justify-self-end flex"><button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button></div>
      </div>
    </ng-container>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>
