<div class="mx-3">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       *ngFor="let emailTemplate of availableEmailTemplates"
                       class="mt-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{emailTemplate.subject}}
      </mat-panel-title>
      <mat-panel-description>
        {{emailTemplate.name}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <textarea class="w-[80%] border-solid"
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="10"
              cdkAutosizeMaxRows="30">
    </textarea>
  </mat-expansion-panel>
  <mat-expansion-panel class="mt-2"
                       (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Betreff
      </mat-panel-title>
      <mat-panel-description>
        Name
      </mat-panel-description>
    </mat-expansion-panel-header>
    <textarea class="w-[80%] border-solid"
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="10"
              cdkAutosizeMaxRows="30">
    Text
    </textarea>
  </mat-expansion-panel>
  <mat-expansion-panel class="mt-2"
                       (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Betreff
      </mat-panel-title>
      <mat-panel-description>
        Name
      </mat-panel-description>
    </mat-expansion-panel-header>
    <textarea class="w-[80%] border-solid"
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="10"
              cdkAutosizeMaxRows="30">
    Text
    </textarea>
  </mat-expansion-panel>
</div>
