<div class="mx-3">
  <br>
  <div class="flex">
    <h2>Mail-Vorlagen</h2>
    <mat-icon (click)="openInfoSnackbar()" matTooltip="Hinweis zur Nutzung von Variablen" class="cursor-pointer mt-1 ml-1">info</mat-icon>
  </div>
  <div class="overflow-y-auto max-h-[70vh] pb-1">
    <mat-expansion-panel
      class="customMargin"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
      *ngFor="let emailTemplate of availableEmailTemplates">
      <mat-expansion-panel-header>
        <mat-panel-title class="pt-2">
          <p *ngIf="!editMode || editedEmailTemplate != emailTemplate.id">{{emailTemplate.subject}}</p>
        </mat-panel-title>
        <mat-panel-description>
          {{emailTemplate.name}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="flex flex-col">
        <mat-form-field class="w-[80%]" *ngIf="editMode && editedEmailTemplate == emailTemplate.id">
          <mat-label>Betreff</mat-label>
          <input matInput placeholder="Hier Betreff eingeben" value="{{emailTemplate.subject}}">
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-[80%]">
          <mat-label>Email Text</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="30"
            [readonly]="!editMode">{{emailTemplate.text}}</textarea>
        </mat-form-field>
      </div>
      <div class="flex justify-self-end">
        <button class="flex-col" *ngIf="!(this.editedEmailTemplate == emailTemplate.id)" mat-icon-button color="primary"
                (click)="this.toggleEdit(emailTemplate.id)" [disabled]="editMode">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="flex-col" *ngIf="this.editMode && this.editedEmailTemplate == emailTemplate.id" mat-icon-button
                color="primary" (click)="this.toggleEdit(emailTemplate.id)" [disabled]="!editMode">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteEmailTemplate(emailTemplate.id)" [disabled]="editMode">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-expansion-panel>
  </div>
  <br>
  <button mat-raised-button color="primary" routerLink="/organizations/{{orgaID}}/addMail">
    <mat-icon>add</mat-icon>
    Mail-Vorlage
  </button>
</div>
