<mat-stepper style="height: calc(100% - 64px)">
  <mat-step>
    <ng-template matStepLabel>Grundlegende Informationen</ng-template>
    <br>
    <h2>Grundlegende Informationen</h2>
    <p>Der Name des Events der auch in der Übersicht ganz oben angezeigt wird</p>
    <mat-form-field>
      <mat-label>Event Name</mat-label>
      <input  matInput id="eventname" name="eventname" [(ngModel)]="form.eventname">
    </mat-form-field><br>
    <mat-form-field style="width: 430px;">
      <mat-label>Event Beschreibung</mat-label>
      <textarea style="height: 200px;" matInput id="description" name="description" [(ngModel)]="form.description"></textarea>
    </mat-form-field>
    <section>
      <mat-form-field appearance="fill" class="example-form-field mr-2">
        <mat-label>Start Datum</mat-label>
        <input matInput [matDatepicker]="datepicker" (dateChange)="firstDateChanged($event)">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Start Zeit</mat-label>
        <input type = "time" matInput [(ngModel)]="form.starttime">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="example-form-field mr-2">
        <mat-label>End Datum</mat-label>
        <input matInput [matDatepicker]="datepicker2" (dateChange)="secondDateChanged($event)">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="datepicker2"></mat-datepicker-toggle>
        <mat-datepicker #datepicker2>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>End Zeit</mat-label>
        <input type = "time" matInput [(ngModel)]="form.endtime">
      </mat-form-field>

    </section>
    <mat-form-field>
      <mat-label>Ort</mat-label>
      <input matInput>
    </mat-form-field>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>zusätzliche Eigene Felder</ng-template>
    <br>
    <h2>Eigene Felder</h2>
    <p>Erstellen sie hier zusätzliche eigene Fehler für das Event, sie können dazu auch Templates nutzen</p>
    <mat-divider></mat-divider>
    <br>
    <h3>Template laden</h3>
    <mat-form-field>
      <mat-label>Template ID</mat-label>
      <input matInput #inputTemplate id="inputTemplate" value="641c5814bb701409e42a8df3">
    </mat-form-field>
    <button style="margin-left: 5px" mat-raised-button (click)="loadTemplate(inputTemplate.value)">Template laden</button>
    <br>
    <ng-container *ngFor="let template of availableTemplates">
      <mat-card>
        <mat-card-content>
          <p>ID: {{template.id}}</p>
          <p>Name: {{template.name}}</p>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <mat-divider></mat-divider>
    <br>
    <mat-divider></mat-divider>
    <br>
    <h3>Felder manuell hinzufügen</h3>
    <mat-form-field>
      <mat-label for="add">Feld Name</mat-label>
      <input matInput #inputt id="add">
    </mat-form-field>
    <button style="margin-left: 5px" mat-raised-button (click)="addCustomField(inputt.value)">Feld hinzufügen</button>
    <br><br>
    <div>
      <ng-container *ngFor="let field of customFields; let i = index">
        <label>{{field.name}}</label>
        <input (input)="updateField(i, $event)"  id="{{field.id}}" name="{{field.id}}">
        <button (click)="removeValueFromCustomFields(i)" id="{{field.id}}">X</button> <br>
      </ng-container>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <h3>aktuelle Konfiguration als Template speichern</h3>
    <mat-form-field>
      <mat-label>Template-Name</mat-label>
      <input matInput #inputTemplateSafe>
    </mat-form-field>
    <button style="margin-left: 5px" mat-raised-button (click)="onSubmitTemplate(inputTemplateSafe.value)" type="submit" formaction="">Template speichern</button><br>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Dateien hochladen</ng-template>
    <br>
    <h2>Datei Upload</h2>
    <div>
      <input type="file" class="file-upload" (change)="onFileSelected($event)" #fileUpload>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Abschluss</ng-template>
    <br>
    <h2>Erstelle das Event</h2>
    <mat-divider></mat-divider>
    <br>
    <h3>Vorschau</h3>
    <br>
    <div>
    <div style="position: absolute; background-color: rgba(1,1,1,0.2); width: 96%; height: 43%; z-index: 100; overflow:hidden;"></div>
      <h3 style="position: absolute; z-index: 100; font-size: 120px; text-align: center; width: 96%; margin-top: 180px; color: grey; transform: rotate(-20deg);"> Vorschau </h3>
      <app-event
        [mock]=true
        [orgId]="'sad'"
        [orgEvent]='{
        id: "eindeutige Id des Events",
        name: form.eventname,
        description: form.description,
        eventStart : "test",
        eventEnd: "asdasd",
        location: "sadad",
        organizationId: "sdad",
        organisator: true,
        tutor: true,
        attender: true
        }'>
      </app-event>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <button mat-raised-button color="primary" (click)="onSubmit()" type="submit" formaction="">Erstellen</button>
    <button style="margin-left: 5px" mat-raised-button color="warn" (click)="goBack()">Abbrechen</button>
  </mat-step>
</mat-stepper>
